.form-card {
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
    padding: 20px;
    margin-top: 5%;
}

.form-card > small {
    float: right; 
    padding-top: 5%;
    margin: 0 0 0 auto;
}