<div class="card form-card">
    <h2 style="margin-bottom: 5%;">Register</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit($event)" invalidate>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" #firstname="ngModel" required class="form-control" [class.is-invalid]="firstname.invalid && firstname.touched" name="firstname" [(ngModel)]="user.firstname">
            <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">FirstName is required</small>
        </div>
        
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" #lastname="ngModel" required class="form-control" [class.is-invalid]="lastname.invalid && lastname.touched" name="lastname" [(ngModel)]="user.lastname">
            <small class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">LastName is required</small>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" #useremail="ngModel" required class="form-control" [class.is-invalid]="useremail.invalid && useremail.touched" name="useremail" [(ngModel)]="user.useremail">
            <small class="text-danger" [class.d-none]="useremail.valid || useremail.untouched">UserEmail is required</small>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" #password="ngModel" required class="form-control" [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="user.password">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </div>

        <button type="submit" class="mat-raised-button btn btn-outline-primary btn-lg btn-block" style="margin-top: 10%;">Register</button>  
        
    </form>
    <small> Already Registered? LogIn to <a href="/login">Stocker</a>. </small>

</div>
