table {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: dimgray;
}

.container > h2 {
  font-size: 6%vw;
}