<div class="container">
  <h2 class="text-left">Portfolio</h2>
</div>
<div *ngIf="!dataSource.length; else elseBlock" class="container">
    <h2>No holdings to display.</h2>
</div>

<ng-template #elseBlock>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="holdingId">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.holdingId}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="buyingprice">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.buyingprice}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Net Value </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="numberOfStocks">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.numberOfStocks}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
        </ng-container>

        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-template>

