<div class="container">
  <h2 class="text-left"> Order History</h2>
</div>
<div *ngIf="!dataSource.length; else elseBlock" class="container">
    <h2>No orders to display.</h2>
</div>

<ng-template #elseBlock>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company Name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="numberOfStocks">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfStocks}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="stockPrice">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.stockPrice}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="totalCost">
        <th mat-header-cell *matHeaderCellDef> Net Value </th>
        <td mat-cell *matCellDef="let element"> {{element.totalCost}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="buyorsell">
        <th mat-header-cell *matHeaderCellDef> Transaction </th>
        <td class= "text-primary" mat-cell *matCellDef="let element"> {{element.buyorsell}} </td>
        </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="statuscode">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.statuscode}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-template>

