<!-- <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</head> -->

<button class="btn btn-danger" (click)="triggerModal(modalData)">Buy</button>

<ng-template #modalData let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Buy Stock</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(); modal.close('Save click')" >

        <div class="row-fluid form-group">
            <select class="form-select" data-show-subtext="true" (change)="setData($event)" data-live-search="true" #stockName [(ngModel)]="userData.stockName" name="stockslist">
              <option value="">Select Stock</option>
              <option *ngFor="let stock of stocks">{{stock.companyName}}</option>
            </select>
        </div>

        <div class="select-type">
            <div class="form-check form-check-inline">
                <input [(ngModel)]="userData.type" class="form-check-input" type="radio" name="type" id="inlineRadio1" value="MARKET">
                <label class="form-check-label" for="inlineRadio1">Market</label>
            </div>
            <div class="form-check form-check-inline">
                <input [(ngModel)]="userData.type" class="form-check-input" type="radio" name="type" id="inlineRadio2" value="LIMIT">
                <label class="form-check-label" for="inlineRadio2">Limit</label>
            </div>
        </div>
        <div class="input-group input-group-sm mb-3 form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
            </div>
            <input (focusin)="componentMethod($event)" [(ngModel)]="userData.volumne" name="quantity" type="number" class="form-control" placeholder="0" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3 form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
            </div>
            <input (focusin)="componentMethod($event)" required [(ngModel)]="userData.price" name="price" #price type="number" class="form-control" placeholder="0" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <!-- <div class="alert alert-danger" *ngIf="price.touched && !price.valid">Please enter the Price.</div> -->
        </div>          
        
        <div class="modal-footer footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
            <button type="Submit" class="btn btn-danger" >Buy</button>
        </div>
    </form>
  </div>
</ng-template>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script> -->
