<div class="heading">
      <h4 class="mt-3 mb-3">Stocks</h4>
      <div>
            <app-input-form></app-input-form>
            <app-sell-form></app-sell-form>
      </div>
</div>     
<div class="container"> 
      <table class="table">
            <thead>
                  <tr>
                        <th>Company Id</th>
                        <th>Company Name</th>
                        <th>Price</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let tempStock of stock">
                        <td>{{ tempStock.companyId}}</td>
                        <td><a href='#'>{{ tempStock.companyName}}</a></td>
                        <td>{{ tempStock.price}}</td>
                        
                  </tr>
            </tbody>
      </table>
</div>
