.my-row {
    width: "100vw";
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.router-body {
    background-color: #ffffff;
    height: 100%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

