<h1>Welcome to Stocker</h1>
<div class="card form-card">
    <h2 style="margin-bottom: 5%;">Login</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit($event)" invalidate>
        <div class="form-group">
            <label>Email</label>
            <input type="email" #useremail="ngModel" required class="form-control" [class.is-invalid]="useremail.invalid && useremail.touched" name="useremail" [(ngModel)]="user.useremail">
            <small class="text-danger" [class.d-none]="useremail.valid || useremail.untouched">UserEmail is required</small>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" #password="ngModel" required class="form-control" [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="user.password">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </div>

        <button type="submit" class="mat-raised-button btn btn-outline-primary btn-lg btn-block">Login</button>  
    </form>
    <small> Not Registered? Become a part of <a href="/register">Stocker</a>. </small>
</div>
