.form-card {
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
    padding: 20px;
}

button {
    margin-top: 10%;
}

.form-card > small {
    float: right; 
    padding-top: 10%;
    margin: 0 0 0 auto;
}

h1 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #ffffff;
    font-weight: 300;
}