/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body {  
    margin: 0; 
    background-image: url('./app/public/stock2.jpg');
    background-size: cover;
    background-color: #f9f8f9; }
